.navbar{
    a.navbar-brand{
        color: white;
    }

    .navbar-nav{
        a.nav-link{
            padding: 0 .25rem;
            margin: 0 5px;
            color: white;
            border-bottom: 2px solid transparent;
            &:hover{
                color: $light;
                border-color: white;
            }

            &.dropdown-toggle{
                border: none;
            }
        }
        a.nav-link.active{
            border-bottom: 2px solid white;
        }
    }
}

